PORT=3002
FRONTEND_URL="http://localhost:5173"
# En producción: https://mini-proyecto-2-frontend.vercel.app
JWT_SECRET=
INTERNAL_API_KEY=
TURN_SERVER=free.expressturn.com:3478
TURN_USERNAME=
TURN_CREDENTIAL=
